#main-header img {
    width: 100%;
    height: 100%;
}

#main-header .port-item {
    width: 30%;
}

#main-header .port-item:hover {
    opacity: 0.8;
    cursor: pointer;
}

.bg-black {
    color: #fff;
    background: #000;
}

.key-1 {
    color: darkblue;
}

.key-1-bar {
    background-color: darkblue;
}

.key-2 {
    color: blue;
}

.key-2-bar {
    background-color: blue;
}

.key-3 {
    color: dodgerblue;
}

.key-3-bar {
    background-color: dodgerblue;
}

.key-4 {
    color: lightskyblue;
}

.key-4-bar {
    background-color: lightskyblue;
}

.c {
    color: #800080
}

.c-bar {
    background-color: #800080;
}

.web {
    color: saddlebrown;
}

.web-bar {
    background-color: saddlebrown;
}

.thick-ruler {
    border: 1px solid black;
}

@media (min-width: 1199px) {
    .port-item {
        padding: 3em !important;
    }
}